* {
  user-select: none;
}
html, body {
  margin: 0px;
  padding: 0px;
  background: #fbfbfb;
}
.app {
  .header {
    text-align: center;
    text-transform: uppercase;
    font-family: "Courier New";
    font-weight: bold;
    font-size: 20pt;
    height: 40px;
  }
  .field {
    border: 1px solid #ffffff;
    padding: 10px;
    .item {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: #afafaf;
      text-align: center;
      border: 2px inset;
      font-family: "Courier New";
      font-weight: bold;
      font-size: 9pt;
      line-height: 20px;
    }
    .color-0 {
			color: transparent;
		}
    .color-1 {
			color: blue;
		}
		.color-2 {
			color: green;
		}
		.color-3 {
			color: red;
		}
		.color-4 {
			color: #000080;
		}
		.color-5 {
			color : #800000;
		}
		.color-6 {
			color : #008080;
		}
		.color-7 {
			color : #000000;
		}
		.color-8 {
			color : #808080;
		}
  }
}
